.add-new-tour form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: mediumslateblue; */
}

.add-new-tour form input, textarea,select, label{
    width: 40%;
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}
